<!-- Button trigger modal -->
<div class="actions btn-group" role="group">
  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal"  (click)="showCreateUserModal=true">
    + Usuario
  </button>
  <button type="button" class="btn btn-outline-secondary">+ Articulo</button>
</div>

<!-- modal users -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="font-weight-bold">Información personal</h5>

            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
              <div class="col-10">
                <input class="form-control" type="text" value="Nombre" id="name" [formControl]="userForm.controls['name']">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-week-input" class="col-2 col-form-label">Teléfono</label>
              <div class="col-10">
                <input class="form-control" type="text"  id="phone" [formControl]="userForm.controls['phone']">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-week-input" class="col-2 col-form-label">Domicilio</label>
              <div class="col-10">
                <input class="form-control" type="text"  id="address"  [formControl]="userForm.controls['address']">
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Crear!</button>
        </div>

      </form>
    </div>

  </div>
</div>
