
  <!-- CLI -->
<div class="cli-component ">
  <div class="card add-product">
    <div class="card-header">
      <div class="terminal"></div>
    </div>

    <div class="card-block typewriter">
      <p *ngFor="let log of logs">{{ log }}</p>
    </div>
    <div class="card-footer">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="shoot()">Go!</button>
        </span>
        <input type="text" class="form-control" placeholder="command..."  [formControl]="commandInput">
      </div>
    </div>
  </div>
</div>
