<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-lg-9">
			<div class="users-ctn">
				<h4> <span> <span class="icon-users"></span> Clientes </span></h4>
				<div class="row">
					<!-- Listado de usuarios -->
					<div class="user col-lg-4" *ngFor="let person of persons; let index = index">
						<!-- Solo podria ser visible cuando se para la tarea por x motivo

						los estados de las tareas pueden ser new, open, pending , closed

						<div class="alert alert-warning" role="alert"><span class="icon-grin"></span> Estado de tareas</div>
						-->
						<div class="card">
							<div class="card-block">
								<h5 class="card-title">{{person.name + ' '+ person.lastName}}</h5>
								<p class="font-weight-bold">Moto</p>
								<hr>
								<p class="card-text font-italic" *ngFor="let bike of person.motorbikes">- {{ bike.brand + ' ' + bike.cc + 'cc' }}</p>
								<!--    -->
								<button type="button" class="btn btn-secondary btn-md" (click)="gotoDetail(index)">Ver ficha</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- terminal -->
	<octano-cli></octano-cli>
</div>
