<div class="container">
	<div class="row">
		<div class="users-ctn col-lg-12">
			<h3>Perfiles de usuarios</h3>
			<hr>
			<div class="row">
				<!-- Listado de usuarios -->
				<div class="user col-lg-3" *ngFor="let person of persons">
					<!-- Solo podria ser visible cuando se para la tarea por x motivo

					los estados de las tareas pueden ser new, open, pending , closed

					<div class="d-block bg-warning">Estado de tareas</div>-->

					<div class="card" (click)="onSelect(person)" [class.selected]="person === selectedPerson">
						<div class="card-block">
							<h5 class="card-title">{{person.name + ' '+ person.lastName}}</h5>
							<p class="font-weight-bold">Moto</p>
							<hr>
							<p class="card-text font-italic" *ngFor="let bike of person.motorbikes">- {{ bike.brand + ' ' + bike.cc + 'cc' }}</p>
							<!--    -->
							<a class="btn btn-danger btn-md" (click)="delete(person); $event.stopPropagation()"> X </a>
							<a class="btn btn-secondary btn-md" (click)="gotoDetail()">Ver ficha</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="amount-task col-lg-6">
			<h3>Trabajos realizados</h3>
			<hr>
			<div class="card text-center">
			  <div class="card-block">
					<table class="table table-striped table-bordered">
					  <thead>
					    <tr>
					      <th></th>
					      <th>Nombre</th>
					      <th>Intervención</th>
								<th>precio</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Facundo</td>
								<td>Mecanico</td>
								 <td>$ 500</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Emilio</td>
								<td>Mecanico</td>
								 <td>$ 500</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Eda</td>
								<td>Eléctrico</td>
								 <td>$ 800</td>
					    </tr>
							<tr>
					      <th scope="row"></th>
					      <td colspan="3">
									<span class="d-block text-right font-weight-bold">Total : <span class="d-inline-block">$1800</span></span>
								</td>
					    </tr>
					  </tbody>
					</table>
			  </div>
			  <div class="card-footer text-muted">
			    ultimos 15 días
			  </div>
			</div>
			<!-- modal para crear usuarios
			<create-user></create-user>-->
		</div>
		<div class="products col-lg-6">
			<h3>Repuestos</h3>
			<hr>
			<div class="card text-center">
				<div class="card-header">
			    <ul class="nav nav-tabs card-header-tabs">
			      <li class="nav-item">
			        <a class="nav-link active">Mantenimiento</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled">Mecánicos</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled">Electrónicos</a>
			      </li>
			    </ul>
			  </div>
				<div class="card-block">
					<ul class="list-group">
					  <li class="list-group-item list-group-item-action justify-content-between">
					    Aceite Motul 4t 10w40
					    <span class="badge badge-default badge-pill">10</span>
					  </li>
					  <li class="list-group-item list-group-item-action justify-content-between">
					    Lubricante Ipone Cadena 750ml
					    <span class="badge badge-default badge-pill">5</span>
					  </li>
					</ul>
				</div>
				<div class="card-footer text-muted">
					<span class="d-block text-right font-weight-bold">Gastos : <span class="d-inline-block">$1700</span></span>
				</div>
			</div>
		</div>
	</div>
</div>
