<div class="container user-data-sheet" *ngIf="person">
	<div class="cluster-header">
		<h4>Ficha técnica</h4>
		<hr>
		<span class="eva-3-icon-booking"></span>
	</div>
	<div class="cluster-description">

		<div class="row">
			<div class="col-lg-6 card user-details">
				<div class="user-image">
					<img src="http://via.placeholder.com/150x150" alt="" class="rounded-circle">
				</div>
				<div class="user-info-block">
					<div class="user-heading">
						<p >{{ person.name + ' ' + person.lastName }}</p>
						<p>{{ person.phone }}</p>
						<p>{{ person.type }}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="bs-callout bs-callout-danger">
					<div class="list-group">
						<!--  active -->
					  <a class="list-group-item list-group-item-action flex-column align-items-start">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="mb-1">Modelo moto</h5>
					      <small>Ultima Intervención: 3 días</small>
					    </div>
					    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					    <small>Donec id elit non mi porta.</small>
					  </a>
					</div>
				</div>
			</div>
		</div>

		<div class="timeline">
			<h5>Historial de servicios</h5>
			<hr>
			<p>Generar una linea de tiempo con los servicios realizados, tener un desplegable para ver en detalle cada uno de los servicios.</p>
			<ul>
				<li>
					<p>- Servicio [x]</p>
				</li>
				<li>
					<p>- Servicio [x]</p>
				</li>
				<li>
					<p>- Servicio [x]</p>
				</li>
				<li>
					<p>- Servicio [x]</p>
				</li>
			</ul>
			<a (click)="goBack()" class="btn btn-secondary btn-md back"><em class="btn-text">Atrás</em></a>
		</div>
</div>
