<div class="container user-data-sheet" *ngIf="person">
	<div class="cluster-header">
		<h5>Ficha técnica</h5>
		<span class="eva-3-icon-booking"></span>
	</div>
	<div class="cluster-description" style="background: white; padding: 15px; ">
		<div class="row">
			<div class="col-lg-12 profile">
				<a class="pull-left">
				    <img class="media-object dp img-circle" src="http://via.placeholder.com/100x100" />
				</a>
				<div class="media-body">
				    <h5 class="media-heading">{{ person.name + ' ' + person.lastName }} <small> India</small></h5>
				    <h6>{{ person.type }} </h6>
				    <span class="badge badge-success"> {{ person.motorbikes[0].brand + ' ' + person.motorbikes[0].cc + 'cc'  }} </span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
						<h5 id="timeline">Historia de Servicios</h5>
						<hr>
				</div>
				<div class="timeline-box">
					<ul class="timeline">
							<li>
								<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
								<div class="timeline-panel card">
									<div class="timeline-heading">
										<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13/08/2017</small></p>
										<h5 class="timeline-title">Basico 3000 km</h5>
									</div>
									<div class="timeline-body">
										<p>- Cambio de aceite</p>
										<p>- Limpieza de transmisión</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
								<div class="timeline-panel card">
									<div class="timeline-heading">
										<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 06/09/2017</small></p>
										<h5 class="timeline-title">Electrico</h5>
									</div>
									<div class="timeline-body">
										<p>- Carga de bateria</p>
										<p>- Cambio relay de arranque</p>
									</div>
								</div>
							</li>
					</ul>
				</div>
				<button type="button" (click)="goBack()" class="btn btn-secondary btn-md back">Atrás</button>
			</div>
		</div>
</div>
