<div class="add-product">
  <div class="card-header">
    <h6 class="text-left">Lista de productos</h6>
    <button type="button" class="btn btn-outline-danger">Cargar!</button>
  </div>
  <!--<div class="form-group">
    <p class="text-left">Escribir el nombre del producto</p>
    <input type="text" class="form-control" placeholder="Nombre del producto">
  </div>
  <div class="form-group">
    <p class="text-left">Escribir cantidad y precio</p>
    <div class="row">
      <div class="col col-lg-6">
        <input type="text" class="form-control" placeholder="cantidad">
      </div>
      <div class="col col-lg-6">
        <input type="text" class="form-control" placeholder="Precio">
      </div>
    </div>
  </div>-->
</div>
<div class="product-list text-center" *ngIf="products.length > 0">
  <div class="card-block">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action justify-content-between" *ngFor="let product of products">
        {{ product.name }}
        <span class="badge badge-primary">{{ product.amount }}</span>
      </li>
    </ul>
  </div>
</div>

<p *ngIf="!products.length" class="text-uppercase"> <span class="icon-crying"></span> Aún no tienes ningun producto!...  </p>
