body {
  background-color: #eee;
}

body::after {
  content: "";
  background: url(../resources/images/pic1.jpg);
  background-repeat: round;
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
  width: 100%;
  display: block;
}

.container {
  margin-top: 40px;
  margin-bottom: 50px;
}

.persons li {
  cursor: pointer;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

/*PASOS*/
.steps {
  padding: 0 20px;
}

.navbar-brand {
  position: relative;
  padding-left: 30px;
  margin-right: 4rem;
}

.navbar-text {
  display: block;
  font-size: 13px;
  padding: 0;
}

.header {
  z-index: 999999;
}

.header .logo {
  background-image: url(../resources/images/pistons-cross.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: -5px;
  top: 10px;
}

#search-component {
  position: relative;
}
#search-component .search-result {
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 4px;
}
#search-component .search-result li {
  cursor: pointer;
}
#search-component .search-result li:hover {
  color: black;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h4 {
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 25%;
}

.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}

.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }

  .module {
    min-width: 60px;
  }
}
.stats .module {
  width: 30%;
  display: inline-block;
  height: 55px;
  padding: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.stats .module:hover {
  background-color: #607D8B;
  cursor: initial;
  color: #EEE;
}

.stats .module .amount {
  display: block;
  line-height: 1.5;
}

/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
.user-data-sheet .btn.btn-secondary {
  position: inherit;
  bottom: 0;
}
.user-data-sheet .btn.btn-secondary.save {
  left: 100px;
}

.user-details {
  position: relative;
  margin-top: 70px;
  padding: 90px 0 0 0;
  text-align: center;
}
.user-details .user-image {
  text-align: center;
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -75px;
}

.chart {
  padding: 0;
}
.chart .card-img-top {
  margin: 0 auto;
}

.timeline {
  margin-top: 20px;
}

.selected {
  top: -1px;
  box-shadow: 0px 1px 5px #999;
}

.btn {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}
.btn.btn-danger {
  right: 20px;
  color: white !important;
}
.btn.btn-secondary {
  left: 20px;
  bottom: 20px;
}

.user {
  padding: 0 3px 3px 0;
}
.user .d-block {
  font-size: 13px;
  padding: 5px;
}
.user hr {
  margin: 0 0 5px 0;
}
.user .card {
  min-height: 250px;
}
.user .card p {
  margin: 0;
}
.user .card .card-block {
  padding: 10px 15px;
}
.user .card .card-block .card-title, .user .card .card-block .card-text {
  margin: 0;
}

.amount-task {
  margin-top: 15px;
  padding: 0 15px 0 0;
}
.amount-task .card-block {
  padding: 0;
}
.amount-task table {
  margin: 0;
}

.products {
  margin-top: 15px;
  padding: 0 0 0 15px;
}

@media (max-width: 767px) {
  .products, .amount-task {
    padding: 0;
  }
}
