body {
  background-color: #eee;
}

.eva-3-container {
  width: 1024px;
  padding: 90px 0 0 0 !important;
  position: relative;
}

body::after {
  content: "";
  background: url(../resources/images/pic1.jpg);
  background-repeat: round;
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
  width: 100%;
  display: block;
}

.persons li {
  cursor: pointer;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

/*PASOS*/
.steps {
  padding: 0 20px;
}

.eva-3-cluster-basic {
  margin: 0;
}

.eva-3-cluster-basic .cluster-content {
  margin-right: 0;
}

.eva-3-cluster-basic .cluster-header, .eva-3-cluster-basic .cluster-header {
  border-bottom: solid 1px #ccc;
  padding: 5px 10px;
  position: relative;
}

.eva-3-cluster-basic .cluster-header span[class^="eva-3-icon-"] {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 18px;
  background: rgba(123, 120, 126, 0.8);
  bottom: 1px;
  padding: 5px;
  color: white;
}

.eva-3-cluster-basic .cluster-description {
  box-sizing: border-box;
  height: auto;
  padding: 15px;
}

.profile.active .cluster-description, .user-data-sheet .cluster-description {
  padding: 15px 15px 50px;
}

.product-list .cluster-description {
  height: auto;
  padding: 0;
}

.eva-3-cluster-basic .cluster-description ul li {
  padding: 5px;
}

.product-list .cluster-description ul li:not(:nth-child(1)) {
  border-top: solid 1px #ccc;
}

.users-ctn .persons .eva-3-cluster-basic .cluster-description {
  height: 150px;
  padding: 10px;
}

.users-ctn .persons .eva-3-cluster-basic .cluster-container {
  border-radius: 5px;
}

.add-person .eva-3-cluster-basic .cluster-description > div {
  margin-bottom: 10px;
}

.users-ctn .persons .eva-3-cluster-basic .cluster-description .eva-3-btn, .eva-3-cluster-basic .cluster-description .eva-3-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.eva-3-cluster-basic {
  margin-top: 15px;
}

.persons .eva-3-cluster-basic {
  margin-top: 0;
}

.eva-3-container .header {
  margin: 0;
  height: 65px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  padding: 0 20px;
  z-index: 999;
  box-shadow: 0px 2px 5px #ddd;
}

.eva-3-container .header h1 {
  float: right;
  padding: 15px 25px 0 0;
}

.eva-3-container .header h1 a {
  color: black;
  text-decoration: none;
}

.eva-3-container .header h1 a span {
  display: block;
}

.eva-3-container .header h1 a span.text {
  font-size: 13px;
}

.eva-3-container .header h1 .logo {
  background-image: url(../resources/images/pistons-cross.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  right: 35px;
  top: -32px;
}

.eva-3-container .header nav {
  float: left;
  width: 40%;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  margin: 20px 0;
}

h4 {
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 25%;
}

.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}

.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }

  .module {
    min-width: 60px;
  }
}
.stats .module {
  width: 30%;
  display: inline-block;
  height: 55px;
  padding: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.stats .module:hover {
  background-color: #607D8B;
  cursor: initial;
  color: #EEE;
}

.stats .module .amount {
  display: block;
  line-height: 1.5;
}

/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.user-data-sheet .save {
  left: auto;
  right: 10px;
}
