
.navbar-brand {
  position: relative;
  padding-left: 30px;
}

.navbar-text {
  display: block;
  font-size: 13px;
  padding: 0;
}

.header {
  z-index: 100;
  //position: fixed;
  //top: 0;
  //right: 0;
  //left: 0;
}

.header .logo {
    background-image: url(../resources/images/pistons-cross.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: -5px;
    top: 10px;
}

#search-component {
  position:relative;
  .search-result {
    position: absolute;
    top: 115%;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    li {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}
