.selected {
  top: -1px;
  box-shadow: 0px 1px 5px #999;
}
.users-ctn {
  .btn {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    &.btn-danger {
      right: 20px;
      color: white !important;
    }
    &.btn-secondary {
      left: 20px;
      bottom:20px;
    }
  }
}


.user {
  padding: 0 3px 3px 0;
  .d-block {
    font-size: 13px;
    padding: 5px;
  }
  hr {
    margin: 0 0 5px 0;
  }
  .card {
    max-width: 450px;
    margin: 0 auto;
    min-height: 250px;
    p {
      margin: 0;
    }
    .card-block {
      padding: 10px 15px;
      .card-title, .card-text  {
        margin: 0;
      }
    }
  }
}
.amount-task {
  margin-top: 15px;
  padding: 0 15px 0 0;

  .card-block {
    padding: 0;
  }
  table {
    margin: 0;
  }
}
.product-list {
  margin-bottom: 15px;
}

.add-product {
  .card-header {
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
    h6 {
      margin: 0;
    }
    .btn {
      position: absolute;
      border-radius: initial;
      top: 0;
      right: 0;
      bottom: 0;
      border: 0;
      cursor: pointer;
      border-left: solid 1px;
    }
  }

}
.products {
  padding: 0 0 0 15px;
}

// arreglos mobile
@media (max-width: 767px) {
  .products, .amount-task {
    padding: 15px;
  }
}
