@import "compass/css3";

body {
  background-color: #f5f5f5;
}

.container {
  margin: 40px auto;
}

.persons li {
	cursor: pointer;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

/*PASOS*/
.steps {
  padding: 0 20px;
}

// Component
@import "header";
// Views
@import "dashboard";
@import "detail";
@import "user";
@import "icons";


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .container {
    width: auto;
    margin: 40px 10px;
  }
}
