@import "compass/css3";

body {
  background-color: #f5f5f5;
  position: relative;
}

h4 {
  position: relative;
  text-align: center;
  margin: 20px 0;
  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    background: lightgray;
    z-index: -1;
  }
  > span {
    padding: 0 30px;
    background: #f5f5f5;
  }
}

.container {
  margin: 40px auto;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}
/*PASOS*/
.steps {
  padding: 0 20px;
}
// Component
@import "header";
// Views
@import "detail";
@import "user";
@import "icons";
@import "loading";

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .container {
    width: auto;
    margin: 40px 10px;

  }
  .add-product {
    width: 100%;
  }
}
